<% if @post.errors.any? %>
  <div id="error_explanation" 　>
    <ul class="alert alert-danger">
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>