  　<% provide(:title, "投稿一覧") %>
    <header>
      <div class="text-center " >
        スケジュール管理アプリ
      </div>
    </header>
    <div class="container-fluid ">
      <div class="pagetitle d-flex  justify-content-between">
       <h4>予定一覧</h3>
       <a class="btn btn-primary" role="button">新規追加</a>
      </div>
      <table class="table">
        <thead>
        <tr>
          <td> データセル</td>
          <td> データセル</td>
          <td> データセル</td>
          <td> データセル</td>
          <td> データセル</td>
          <td> データセル</td>
        </tr>
        </thead>
         <tr>
          <td> データセル</td>
          <td> データセル</td>
          <td> データセル</td>
          <td> データセル</td>
          <td> データセル</td>
          <td> データセル</td>
        </tr>
         <tr>
          <td> データセル</td>
          <td> データセル</td>
          <td> データセル</td>
          <td> データセル</td>
          <td> データセル</td>
          <td> データセル</td>
        </tr>
      </table>
      <footer  class="d-flex justify-content-between">
        <p>予定合計　件 </p>
        <p>本日の日付 </p>
     </footer>
    </div>
    <script src="boostrap.bundle.min.js"></script>
  </body>
</html>