// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header{
    background-color: #1c1d3b;
    padding:1rem 0;
    color:white;
    font-weight:bold ;
    font-size:1rem;
}
.btn a{
    color:white;
}
.container-fluid{
    max-width:980px;
    padding-top:2rem;
}
.post_content{
    max-width:550px;
    margin:0 auto;
}
.table{
    margin-top:2rem;
    background-color:#eaf6fb;
}

footer{
    margin-top:2rem;
    p{
        margin:1rem;

    }
}